@page "/User/{Id:int}"
@inherits UserBase

<PageTitle>User</PageTitle>

<div class="user-view">
    <div class="header">
        <h3>Welcome</h3>
        <div class="search-box">
            <Input Placeholder="Search" onChange="@UpdateSearchField" Label=""/>
        </div>
    </div>

    <CardList Cards="@Cards" GroupedCards="@SplitList()" />

    <div class="add-card"><ButtonIcon Icon="Icons.Add" onClick="() => UpdateShowCreateCardModal()" /></div>

    @if (ShowCreateCardModal)
    {
        <div class="modal">
            <Modal />
            <ModalForm Title="Create Card" onClose="@UpdateShowCreateCardModal" Data="@NewCard" Role="FormRole.Create" />
        </div>
    }
</div>
